.post-right {
    width: 12px;
    max-width: 100%;
    min-height: 2px;
    margin-left: auto; /* то же, что margin-left: auto;  */
    white-space: nowrap;
    text-align: right;
}

.post-right button {

}

.diff-search{
    display: none;
}

.window_main{
    padding: 10px;
    margin: 5px 10px 5px;

}
.class_center_text {
    text-align: center;
}

.news{
    margin-left: 15%;
    margin-right: 15%;
}

.info {
    margin-left: 10%;
    margin-right: 10%;
}

.about_p {
    font-size: 20px;
}

.round {
    width: 205px;
    height: 220px; /* Ширина и высота */
    border-radius: 50%; /* Превращаем в круг */
    background-size: auto 300px; /* Высота фотографии равна высоте элемента */
}

.text-end {
    margin-left: auto;
    margin-right: 0;
}
.menu ul {
    position: relative;
    margin: 0;
    padding: 0;
}
.menu ul ul {
    display: none;
    position: absolute;
    background-color: #212529;
}
.menu li:hover ul{
    display: block;
}
.menu li:hover li{
    display: block;
}

.item-sc {

}
.item-sc p {
    padding-top: 10px;
}

.main_sc {
    padding: 15px;
}